{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": false
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime", { "corejs": 3, "proposals":true }],
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": true
        }]
    ]
}